nodes/Prep MSG/clean-node.json
[
    {
        "id": "768d49cee95a9222",
        "type": "subflow",
        "name": "Clean MSG",
        "info": "",
        "category": "parser",
        "in": [
            {
                "x": 60,
                "y": 80,
                "wires": [
                    {
                        "id": "10831f02b4d0f82a"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 340,
                "y": 80,
                "wires": [
                    {
                        "id": "10831f02b4d0f82a",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {
            "module": "Clean MSG",
            "type": "F3A8FE42-9831-41A4-9DDF-F189C4FB325E",
            "version": "1.3.0",
            "author": "Devin Hamilton <devin@hamilton321.com>",
            "desc": "Restores msg keys",
            "keywords": "clean msg omsg restore",
            "license": "Apache-2.0"
        },
        "color": "#DEBD5C",
        "icon": "node-red/parser-json.svg"
    },
    {
        "id": "10831f02b4d0f82a",
        "type": "function",
        "z": "768d49cee95a9222",
        "name": "Return OMSG",
        "func": "Object.keys(msg.omsg).forEach(a => {\n    msg[a] = msg.omsg[a]\n    delete msg.omsg[a]\n})\n\ndelete msg.omsg\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "050eeae354ca998d",
        "type": "subflow:768d49cee95a9222",
        "z": "ae7450e845af8421",
        "name": "",
        "x": 490,
        "y": 840,
        "wires": [
            []
        ]
    }
]
