connectors/mimecast/sample-flows
[
    {
        "id": "46bc33bcb8d429dc",
        "type": "comment",
        "z": "d68ed92df016006a",
        "name": "PLEASE NOTE THAT THE API CALL HANDLER ALSO NEEDS TO BE IMPORTED!!",
        "info": "",
        "x": 370,
        "y": 100,
        "wires": []
    },
    {
        "id": "ea8fd6ccc7fbb749",
        "type": "group",
        "z": "d68ed92df016006a",
        "name": "Standard Components",
        "style": {
            "label": true
        },
        "nodes": [
            "94222529ad2e4401",
            "a214952e49b7ea49",
            "bc94e16ea924a9b3",
            "eb47989dfe32dd1a",
            "a78624afe0b15c56",
            "b7042a7824c6ca22",
            "013528075eaf40ef",
            "e7fde7ba4544b79e",
            "aebb2dc01f67e3e1",
            "ddd7bfea9729748d",
            "594e5775d10ed274"
        ],
        "x": 124,
        "y": 159,
        "w": 1712,
        "h": 122
    },
    {
        "id": "94222529ad2e4401",
        "type": "link in",
        "z": "d68ed92df016006a",
        "g": "ea8fd6ccc7fbb749",
        "name": "Parse Standard Response",
        "links": [],
        "x": 830,
        "y": 200,
        "wires": [
            [
                "bc94e16ea924a9b3"
            ]
        ],
        "l": true
    },
    {
        "id": "a214952e49b7ea49",
        "type": "link out",
        "z": "d68ed92df016006a",
        "g": "ea8fd6ccc7fbb749",
        "name": "link out 68",
        "mode": "return",
        "links": [],
        "x": 1205,
        "y": 220,
        "wires": []
    },
    {
        "id": "bc94e16ea924a9b3",
        "type": "function",
        "z": "d68ed92df016006a",
        "g": "ea8fd6ccc7fbb749",
        "name": "Parse Response",
        "func": "var input = msg.payload\nvar result = []\n\nif (input[0].fail && input[0].fail.length > 0) {\n    result = [{\n        errors: input[0].fail,\n    }]\n\n    try {\n        result.requestId = msg.headers[\"x-request-id\"]\n        result.date = msg.headers.date\n    }\n    catch {}\n} \nelse if (msg.parseField) {\n    input.forEach (a => {\n        result.push(...a.data[0][msg.parseField])\n    })\n    delete msg.parseField\n}\nelse if (input.length >= 1) {\n    input.forEach(a => {\n        if (a.data.length === 1 && Object.keys(a.data[0]).length === 1) {\n            var key = Object.keys(a.data[0])[0]\n            result.push(...(a.data[0][key]))\n        }\n        else {\n            result.push(...a.data)\n        }\n    })\n}\nelse {\n    result = input\n}\n\n/*if (result.length === 1) {\n    result = result[0]\n}*/\n\nmsg.payload = result\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 200,
        "wires": [
            [
                "a214952e49b7ea49"
            ]
        ]
    },
    {
        "id": "eb47989dfe32dd1a",
        "type": "function",
        "z": "d68ed92df016006a",
        "g": "ea8fd6ccc7fbb749",
        "name": "Standard field normalization",
        "func": "function toIsoString(date) {\n    date = new Date(date)\n    var tzo = -date.getTimezoneOffset(),\n        dif = tzo >= 0 ? '+' : '-',\n        pad = function (num) {\n            return (num < 10 ? '0' : '') + num;\n        };\n\n    return date.getFullYear() +\n        '-' + pad(date.getMonth() + 1) +\n        '-' + pad(date.getDate()) +\n        'T' + pad(date.getHours()) +\n        ':' + pad(date.getMinutes()) +\n        ':' + pad(date.getSeconds()) +\n        dif + pad(Math.floor(Math.abs(tzo) / 60)) +\n        pad(Math.abs(tzo) % 60);\n}\n\n// -------------------\n\nvar request = msg.payload.data || {}\n\n//Start Date\nif (request.start) {\n    request.start = toIsoString(request.start)\n}\n\n// End Date\nif (request.end) {\n    request.end = toIsoString(request.end)\n}\n\n// Search\nif (request.search) {\n    var searchKey = Object.keys(request.search)[0] \n    request.searchBy = {\n        fieldName: searchKey,\n        value: request.search[searchKey]\n    }\n    delete request.search\n}\n\n// Filters\nif (request.filters) {\n    var filters = []\n    var filterKeys = Object.keys(request.search)\n    filterKeys.forEach(key => {\n        filters.push({\n            fieldName: key,\n            value: request.filters[key]\n        })\n    })\n    request.filterBy = filters\n    delete request.filters\n}\n\nmsg.payload.data = request\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1630,
        "y": 220,
        "wires": [
            [
                "b7042a7824c6ca22"
            ]
        ]
    },
    {
        "id": "a78624afe0b15c56",
        "type": "link in",
        "z": "d68ed92df016006a",
        "g": "ea8fd6ccc7fbb749",
        "name": "Normalize Request",
        "links": [],
        "x": 1390,
        "y": 220,
        "wires": [
            [
                "eb47989dfe32dd1a"
            ]
        ],
        "l": true
    },
    {
        "id": "b7042a7824c6ca22",
        "type": "link out",
        "z": "d68ed92df016006a",
        "g": "ea8fd6ccc7fbb749",
        "name": "link out 69",
        "mode": "return",
        "links": [],
        "x": 1795,
        "y": 220,
        "wires": []
    },
    {
        "id": "013528075eaf40ef",
        "type": "catch",
        "z": "d68ed92df016006a",
        "g": "ea8fd6ccc7fbb749",
        "name": "",
        "scope": [
            "bc94e16ea924a9b3"
        ],
        "uncaught": false,
        "x": 890,
        "y": 240,
        "wires": [
            [
                "e7fde7ba4544b79e"
            ]
        ]
    },
    {
        "id": "e7fde7ba4544b79e",
        "type": "change",
        "z": "d68ed92df016006a",
        "g": "ea8fd6ccc7fbb749",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "error",
                "pt": "msg"
            },
            {
                "t": "delete",
                "p": "_error",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1060,
        "y": 240,
        "wires": [
            [
                "a214952e49b7ea49"
            ]
        ]
    },
    {
        "id": "aebb2dc01f67e3e1",
        "type": "link in",
        "z": "d68ed92df016006a",
        "g": "ea8fd6ccc7fbb749",
        "name": "Make API Call",
        "links": [],
        "x": 220,
        "y": 220,
        "wires": [
            [
                "ddd7bfea9729748d"
            ]
        ],
        "l": true
    },
    {
        "id": "ddd7bfea9729748d",
        "type": "link out",
        "z": "d68ed92df016006a",
        "g": "ea8fd6ccc7fbb749",
        "name": "link out 72",
        "mode": "return",
        "links": [],
        "x": 675,
        "y": 220,
        "wires": []
    },
    {
        "id": "594e5775d10ed274",
        "type": "comment",
        "z": "d68ed92df016006a",
        "g": "ea8fd6ccc7fbb749",
        "name": "PUT THE API CALL HANDLER HERE",
        "info": "",
        "x": 470,
        "y": 220,
        "wires": []
    },
    {
        "id": "8cd63d16cbf303af",
        "type": "group",
        "z": "d68ed92df016006a",
        "name": "Get Account",
        "style": {
            "label": true
        },
        "nodes": [
            "05923620cba1a152",
            "43c1fd524de69d2e",
            "eda47460312543a3",
            "3a90732abfe08ccb",
            "1296f24b88ac57bc",
            "760d01ba7d1d3b61",
            "c27e767abc8b47a8",
            "9707c8e87a4f34dc"
        ],
        "x": 124,
        "y": 319,
        "w": 912,
        "h": 122
    },
    {
        "id": "05923620cba1a152",
        "type": "link in",
        "z": "d68ed92df016006a",
        "g": "8cd63d16cbf303af",
        "name": "Get Account",
        "links": [],
        "x": 220,
        "y": 360,
        "wires": [
            [
                "1296f24b88ac57bc"
            ]
        ],
        "l": true
    },
    {
        "id": "43c1fd524de69d2e",
        "type": "link out",
        "z": "d68ed92df016006a",
        "g": "8cd63d16cbf303af",
        "name": "link out 73",
        "mode": "return",
        "links": [],
        "x": 995,
        "y": 360,
        "wires": []
    },
    {
        "id": "eda47460312543a3",
        "type": "link call",
        "z": "d68ed92df016006a",
        "g": "8cd63d16cbf303af",
        "name": "",
        "links": [
            "94222529ad2e4401"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 830,
        "y": 360,
        "wires": [
            [
                "43c1fd524de69d2e"
            ]
        ]
    },
    {
        "id": "3a90732abfe08ccb",
        "type": "link call",
        "z": "d68ed92df016006a",
        "g": "8cd63d16cbf303af",
        "name": "",
        "links": [
            "aebb2dc01f67e3e1"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 590,
        "y": 360,
        "wires": [
            [
                "eda47460312543a3"
            ]
        ]
    },
    {
        "id": "1296f24b88ac57bc",
        "type": "function",
        "z": "d68ed92df016006a",
        "g": "8cd63d16cbf303af",
        "name": "Set Call Info",
        "func": "msg.payload = msg.payload ?? {}\nmsg.payload.uri = '/api/account/get-account';\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 360,
        "wires": [
            [
                "3a90732abfe08ccb"
            ]
        ]
    },
    {
        "id": "760d01ba7d1d3b61",
        "type": "inject",
        "z": "d68ed92df016006a",
        "g": "8cd63d16cbf303af",
        "name": "Get Account Info",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Get Mimecast Account Info",
        "x": 310,
        "y": 400,
        "wires": [
            [
                "c27e767abc8b47a8"
            ]
        ]
    },
    {
        "id": "c27e767abc8b47a8",
        "type": "link call",
        "z": "d68ed92df016006a",
        "g": "8cd63d16cbf303af",
        "name": "",
        "links": [
            "05923620cba1a152"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 580,
        "y": 400,
        "wires": [
            [
                "9707c8e87a4f34dc"
            ]
        ]
    },
    {
        "id": "9707c8e87a4f34dc",
        "type": "debug",
        "z": "d68ed92df016006a",
        "g": "8cd63d16cbf303af",
        "name": "Mimecast Account Info",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 400,
        "wires": []
    },
    {
        "id": "c24d52ededab0be9",
        "type": "group",
        "z": "d68ed92df016006a",
        "name": "Get Attachment Protection Logs",
        "style": {
            "label": true
        },
        "nodes": [
            "c65dc3a9c35b621f",
            "5473126ccde85ea7",
            "8e889465fbfdd9cc",
            "c43043cedaac87e3",
            "89cd05f8291906c8",
            "71bb3f106a24a56d",
            "6a411a411d4376ee",
            "9030c1f98776e49d"
        ],
        "x": 124,
        "y": 459,
        "w": 1072,
        "h": 122
    },
    {
        "id": "c65dc3a9c35b621f",
        "type": "function",
        "z": "d68ed92df016006a",
        "g": "c24d52ededab0be9",
        "name": "Set URI",
        "func": "msg.payload.uri = \"/api/ttp/attachment/get-logs\"\nmsg.parseField = \"attachmentLogs\"\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 550,
        "y": 500,
        "wires": [
            [
                "8e889465fbfdd9cc"
            ]
        ]
    },
    {
        "id": "5473126ccde85ea7",
        "type": "link in",
        "z": "d68ed92df016006a",
        "g": "c24d52ededab0be9",
        "name": "Get TTP Attachment Protection Logs",
        "links": [],
        "x": 300,
        "y": 500,
        "wires": [
            [
                "c65dc3a9c35b621f"
            ]
        ],
        "l": true
    },
    {
        "id": "8e889465fbfdd9cc",
        "type": "link call",
        "z": "d68ed92df016006a",
        "g": "c24d52ededab0be9",
        "name": "",
        "links": [
            "aebb2dc01f67e3e1"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 730,
        "y": 500,
        "wires": [
            [
                "c43043cedaac87e3"
            ]
        ]
    },
    {
        "id": "c43043cedaac87e3",
        "type": "link call",
        "z": "d68ed92df016006a",
        "g": "c24d52ededab0be9",
        "name": "",
        "links": [
            "94222529ad2e4401"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 970,
        "y": 500,
        "wires": [
            [
                "89cd05f8291906c8"
            ]
        ]
    },
    {
        "id": "89cd05f8291906c8",
        "type": "link out",
        "z": "d68ed92df016006a",
        "g": "c24d52ededab0be9",
        "name": "link out 113",
        "mode": "return",
        "links": [],
        "x": 1135,
        "y": 500,
        "wires": []
    },
    {
        "id": "71bb3f106a24a56d",
        "type": "inject",
        "z": "d68ed92df016006a",
        "g": "c24d52ededab0be9",
        "name": "Get Attachment Protect Logs",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Get Mimecast Attachment Protect Logs",
        "payload": "{\"uri\":\"/api/ttp/attachment/get-logs\",\"meta\":{\"pagination\":{\"pageSize\":100}},\"data\":{\"route\":\"inbound\"},\"parseField\":\"attachmentLogs\"}",
        "payloadType": "json",
        "x": 350,
        "y": 540,
        "wires": [
            [
                "6a411a411d4376ee"
            ]
        ]
    },
    {
        "id": "6a411a411d4376ee",
        "type": "link call",
        "z": "d68ed92df016006a",
        "g": "c24d52ededab0be9",
        "name": "",
        "links": [
            "1eda6558a0fa9a56"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 660,
        "y": 540,
        "wires": [
            [
                "9030c1f98776e49d"
            ]
        ]
    },
    {
        "id": "9030c1f98776e49d",
        "type": "debug",
        "z": "d68ed92df016006a",
        "g": "c24d52ededab0be9",
        "name": "Mimecast Attachment Protect Results",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1000,
        "y": 540,
        "wires": []
    },
    {
        "id": "66867994a5f4d80e",
        "type": "group",
        "z": "d68ed92df016006a",
        "name": "Mimecast Message Tracking",
        "style": {
            "label": true
        },
        "nodes": [
            "eb428abbd06c37a4",
            "3d36f2e7db95b833",
            "14de136103a00788",
            "750f9a3dc76c06ad",
            "185505b1d9b1b726",
            "1222f1d2eda84665",
            "4d0cac926804732f",
            "c8a9a991e9388392",
            "6112e22d153d87ac"
        ],
        "x": 124,
        "y": 599,
        "w": 1152,
        "h": 122
    },
    {
        "id": "eb428abbd06c37a4",
        "type": "link call",
        "z": "d68ed92df016006a",
        "g": "66867994a5f4d80e",
        "name": "",
        "links": [
            "811b3be6b9a3131b"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 460,
        "y": 640,
        "wires": [
            [
                "14de136103a00788"
            ]
        ]
    },
    {
        "id": "3d36f2e7db95b833",
        "type": "link in",
        "z": "d68ed92df016006a",
        "g": "66867994a5f4d80e",
        "name": "Search Messages",
        "links": [],
        "x": 240,
        "y": 640,
        "wires": [
            [
                "eb428abbd06c37a4"
            ]
        ],
        "l": true
    },
    {
        "id": "14de136103a00788",
        "type": "function",
        "z": "d68ed92df016006a",
        "g": "66867994a5f4d80e",
        "name": "Set URI",
        "func": "msg.payload = msg.payload ?? {}\nmsg.payload.uri = \"/api/message-finder/search\"\nmsg.parseField = \"trackedEmails\"\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 640,
        "wires": [
            [
                "750f9a3dc76c06ad"
            ]
        ]
    },
    {
        "id": "750f9a3dc76c06ad",
        "type": "link call",
        "z": "d68ed92df016006a",
        "g": "66867994a5f4d80e",
        "name": "",
        "links": [
            "aebb2dc01f67e3e1"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 830,
        "y": 640,
        "wires": [
            [
                "185505b1d9b1b726"
            ]
        ]
    },
    {
        "id": "185505b1d9b1b726",
        "type": "link call",
        "z": "d68ed92df016006a",
        "g": "66867994a5f4d80e",
        "name": "",
        "links": [
            "94222529ad2e4401"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 1070,
        "y": 640,
        "wires": [
            [
                "1222f1d2eda84665"
            ]
        ]
    },
    {
        "id": "1222f1d2eda84665",
        "type": "link out",
        "z": "d68ed92df016006a",
        "g": "66867994a5f4d80e",
        "name": "link out 114",
        "mode": "return",
        "links": [],
        "x": 1235,
        "y": 640,
        "wires": []
    },
    {
        "id": "4d0cac926804732f",
        "type": "inject",
        "z": "d68ed92df016006a",
        "g": "66867994a5f4d80e",
        "name": "Search for Mesasges",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Search Mimecast for Mesasges",
        "payload": "{\"uri\":\"/api/message-finder/search\",\"meta\":{\"pagination\":{\"pageSize\":100}},\"data\":{\"advancedTrackAndTraceOptions\":{\"from\":\"gmail.com\"}},\"parseField\":\"trackedEmails\"}",
        "payloadType": "json",
        "x": 350,
        "y": 680,
        "wires": [
            [
                "c8a9a991e9388392"
            ]
        ]
    },
    {
        "id": "c8a9a991e9388392",
        "type": "link call",
        "z": "d68ed92df016006a",
        "g": "66867994a5f4d80e",
        "name": "",
        "links": [
            "3d36f2e7db95b833"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 580,
        "y": 680,
        "wires": [
            [
                "6112e22d153d87ac"
            ]
        ]
    },
    {
        "id": "6112e22d153d87ac",
        "type": "debug",
        "z": "d68ed92df016006a",
        "g": "66867994a5f4d80e",
        "name": "Mimecast Messages",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 680,
        "wires": []
    }
]
