services/Token Data/group.json
[
    {
        "id": "e66b4b1a62d870f2",
        "type": "group",
        "z": "743c34968311fe61",
        "name": "Tokens",
        "style": {
            "label": true
        },
        "nodes": [
            "5086d7d56e3e61f4",
            "5e168242c0a4f0ea",
            "53be15ad0aa2bde1",
            "dbb5ab121f0fbd9b",
            "efec8172d25c2063",
            "68a6a894752c01b9",
            "68c9056fabcdc7b9",
            "394c86288f70ef65",
            "88a3339825bdf291",
            "b4cbc6ebeda9c0ae",
            "818eb644980b7f12",
            "35893cc4d791d9b0",
            "51489d3f13ae4a41",
            "35e46340e707fb77",
            "da887e6d2b2b52f2",
            "040ff9e80c35060b"
        ],
        "env": [
            {
                "name": "path",
                "value": "tokens",
                "type": "str"
            }
        ],
        "x": 114,
        "y": 1359,
        "w": 1252,
        "h": 182
    },
    {
        "id": "5086d7d56e3e61f4",
        "type": "link in",
        "z": "743c34968311fe61",
        "g": "e66b4b1a62d870f2",
        "name": "Get Token",
        "links": [],
        "x": 200,
        "y": 1420,
        "wires": [
            [
                "5e168242c0a4f0ea"
            ]
        ],
        "l": true
    },
    {
        "id": "5e168242c0a4f0ea",
        "type": "function",
        "z": "743c34968311fe61",
        "g": "e66b4b1a62d870f2",
        "name": "Get Files",
        "func": "var msg2 = {\n    topic: msg.topic,\n    payload: {\n        path: flow.get(\"directories.configuration\") + \"/\" + env.get(\"path\")\n    },\n    omsg: msg\n}\n\nmsg2.payload.filter = msg.payload\n\nreturn msg2;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 1420,
        "wires": [
            [
                "53be15ad0aa2bde1"
            ]
        ]
    },
    {
        "id": "53be15ad0aa2bde1",
        "type": "link call",
        "z": "743c34968311fe61",
        "g": "e66b4b1a62d870f2",
        "name": "",
        "links": [
            "62d7c946ed7967ab"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 510,
        "y": 1420,
        "wires": [
            [
                "68c9056fabcdc7b9"
            ]
        ]
    },
    {
        "id": "dbb5ab121f0fbd9b",
        "type": "link call",
        "z": "743c34968311fe61",
        "g": "e66b4b1a62d870f2",
        "name": "",
        "links": [
            "31c611abddd02781"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 1040,
        "y": 1400,
        "wires": [
            [
                "efec8172d25c2063"
            ]
        ]
    },
    {
        "id": "efec8172d25c2063",
        "type": "function",
        "z": "743c34968311fe61",
        "g": "e66b4b1a62d870f2",
        "name": "Clean up",
        "func": "var msg2 = msg.omsg\nmsg2.payload = msg.payload\nreturn msg2;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1220,
        "y": 1420,
        "wires": [
            [
                "68a6a894752c01b9"
            ]
        ]
    },
    {
        "id": "68a6a894752c01b9",
        "type": "link out",
        "z": "743c34968311fe61",
        "g": "e66b4b1a62d870f2",
        "name": "",
        "mode": "return",
        "links": [],
        "x": 1325,
        "y": 1420,
        "wires": []
    },
    {
        "id": "68c9056fabcdc7b9",
        "type": "switch",
        "z": "743c34968311fe61",
        "g": "e66b4b1a62d870f2",
        "name": "Result?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 670,
        "y": 1420,
        "wires": [
            [
                "51489d3f13ae4a41"
            ],
            [
                "35893cc4d791d9b0"
            ]
        ]
    },
    {
        "id": "394c86288f70ef65",
        "type": "link in",
        "z": "743c34968311fe61",
        "g": "e66b4b1a62d870f2",
        "name": "Update Token",
        "links": [],
        "x": 210,
        "y": 1500,
        "wires": [
            [
                "35e46340e707fb77"
            ]
        ],
        "l": true
    },
    {
        "id": "88a3339825bdf291",
        "type": "function",
        "z": "743c34968311fe61",
        "g": "e66b4b1a62d870f2",
        "name": "Update Job File",
        "func": "var input = msg.payload\nvar update = msg.omsg.payload\n\nObject.keys(update).forEach(a => {\n    if (! [\".info\", \"name\"].includes(a) ) {\n        input[a] = update[a]\n    }\n})\n\nmsg.payload = {\n    file: (flow.get(\"directories.configuration\") + \"/\" + env.get(\"path\") + \"/\" + input[\".info\"].filename),\n    data: input\n}\n\nmsg.payload.data[\".info\"].dateUpdated = (new Date().toISOString())\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 1500,
        "wires": [
            [
                "b4cbc6ebeda9c0ae"
            ]
        ]
    },
    {
        "id": "b4cbc6ebeda9c0ae",
        "type": "link call",
        "z": "743c34968311fe61",
        "g": "e66b4b1a62d870f2",
        "name": "",
        "links": [
            "b47a35cb58411c42"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 940,
        "y": 1500,
        "wires": [
            [
                "040ff9e80c35060b"
            ]
        ]
    },
    {
        "id": "818eb644980b7f12",
        "type": "link out",
        "z": "743c34968311fe61",
        "g": "e66b4b1a62d870f2",
        "name": "",
        "mode": "return",
        "links": [],
        "x": 1235,
        "y": 1500,
        "wires": []
    },
    {
        "id": "35893cc4d791d9b0",
        "type": "function",
        "z": "743c34968311fe61",
        "g": "e66b4b1a62d870f2",
        "name": "New File",
        "func": "var name = msg.omsg.payload.replace(/\\.json$/, \"\")\n\nmsg.payload = {\n    \".info\": {\n        name: name,\n        filename: name + \".json\",\n        dateCreated: (new Date().toISOString())\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 1440,
        "wires": [
            [
                "efec8172d25c2063"
            ]
        ]
    },
    {
        "id": "51489d3f13ae4a41",
        "type": "function",
        "z": "743c34968311fe61",
        "g": "e66b4b1a62d870f2",
        "name": "Get File Path",
        "func": "msg.payload = msg.payload[0].path\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 850,
        "y": 1400,
        "wires": [
            [
                "dbb5ab121f0fbd9b"
            ]
        ]
    },
    {
        "id": "35e46340e707fb77",
        "type": "function",
        "z": "743c34968311fe61",
        "g": "e66b4b1a62d870f2",
        "name": "Prep",
        "func": "var msg2 = {\n    omsg: msg,\n    payload: msg.payload.name\n}\nreturn msg2;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 1500,
        "wires": [
            [
                "da887e6d2b2b52f2"
            ]
        ]
    },
    {
        "id": "da887e6d2b2b52f2",
        "type": "link call",
        "z": "743c34968311fe61",
        "g": "e66b4b1a62d870f2",
        "name": "",
        "links": [
            "5086d7d56e3e61f4"
        ],
        "linkType": "static",
        "timeout": "30",
        "x": 530,
        "y": 1500,
        "wires": [
            [
                "88a3339825bdf291"
            ]
        ]
    },
    {
        "id": "040ff9e80c35060b",
        "type": "function",
        "z": "743c34968311fe61",
        "g": "e66b4b1a62d870f2",
        "name": "Clean up",
        "func": "var msg2 = msg.omsg\nmsg2.payload = msg.payload\nreturn msg2;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1120,
        "y": 1500,
        "wires": [
            [
                "818eb644980b7f12"
            ]
        ]
    }
]
